.navbar {
    overflow: hidden;
    background-color: #333 !important;
    position: absolute, fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

h2 {
    padding: 10px;
    border-radius: 15px;
    margin: auto;
    max-width: 12%;
    background-color: purple;
    text-align: center;
    color: white !important;
}
body, html {
    height: 100%;
}

.content {
    /* The image used */
    background-image: url(https://i.redd.it/xti65fk0824z.png);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

table{
    border-radius: 15px;
    margin:  auto;
    width: 50% !important; 
    background-color: white !important;
}

